*{
margin:0;
padding:0;
box-sizing:border-box;
outline:none;
}
body{
	font-family:'Poppins';
	width:100%;
	min-height:100vh;
	place-items:center;
	
}
.rowbody{
	width:70%;
	min-width:1170px;
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:100px; 
	overflow-x:hidden;
	padding:5rem 20;
	display:grid;
	
}
.rowbody .imagewrapper{
	overflow:hidden;
	
}

.rowbody .imagewrapper img{
	width:100%;
	height:50%;
	object-fit:cover;
	transition:0.3s;
	padding-left:20px;
}
.rowbody.imagewrapper:hover img{
	transform:scale(1.25);
	
}
.rowbody .contentwrapper{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	padding-left:30px;
}

.rowbody .contentwrapper span.textwrapper{
	display:block;
	font-size:30px;
	text-transform:capitalize;
	display:flex;
	justify-content:flex;
	align-items:center;
	gap:15px;
	margin-bottom:20px;
	
}
.rowbody .contentwrapper span.textwrapper span{
	
	display:inline-block;
	background:yellow;
	width:70px;
	height:5px;
}
.rowbody .contentwrapper h2{
	font-size:40px;
	font-weight:700;
	color:pink;
	padding-bottom:20px;
	
}
.aboutp p{
	font-size:36px;
	line-height:15px;
	padding-bottom:25px;
}

.rowbody .contentwrapper a{
	
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	background:pink;
	color:White;
	padding:10px 5;
	padding-top:10px;
	border-radius:6px;
	width:40%;
	margin-left:50px;
}

 .aboutusgif{
	 border-radius:200px;
	 
 }
	.missionabout{
		margin-left:50px;
		font-size:18px;
		font-weight:500;
		
	}
	.missionspan{
		
		padding:20px;
		margin-top:10px;
		color:Pink;
		margin-left:180px;	
		font-size:26px;
		font-weight:700;
	}
	